{# ids must be unique doc-wide #}
{% set id = apos.utils.generateId() %}
{% set widget = data.widget %}
{% set classPrefix = data.widget.classPrefix %}
<label for="{{ id }}" class="apos-forms-label {{ classPrefix + '__label' if classPrefix }}">
  <input type="checkbox" id="{{ id }}" class="apos-forms-input {{ classPrefix + '__input' if classPrefix }}"
    name="{{ widget.fieldName}}" value="true"
    {% if widget.checked %}checked{% endif %}
    {% if widget.required %}required{% endif %}>
  <span class="apos-forms-label-message {{ classPrefix + '__label-message' if classPrefix }}" data-apos-input-message="{{ widget.fieldName}}" hidden>
    {{ widget.fieldLabel}}
    {% if widget.required %} {{ __("(Required)") }}{% endif %}
  </span>
</label>
