<div class="row widget">
  <div class="col s12 m12">
    <div class="radius {% if data.page.shadow %} z-depth-1 {% endif %}">
      <div class="card z-depth-0" {% if piece.backColor%} style="background-color:{{ piece.backColor }}" {% endif %}>
        <div class="card-stacked">

          <div class="card-image">
            {{ apos.area(data.widget, 'apostropheVideo', {
              edit: false,
              widgets: {
                'apostrophe-video': {}
              }
            }) }}
          </div>

          {% if data.widget.title %}
            <div class="card-content" {% if piece.backColor%} style="background-color:{{ piece.backColor }}" {% endif %}>
              <h4 class="accent-color card-title" {% if data.widget.titleColor %} style="color:{{ data.widget.titleColor }}" {% endif %}>
                {{ data.widget.title }}
              </h4>
            </div>
          {% endif %}

          {%- if data.widget.credit -%}
            <div class="card-action center-align">
              {%- if image.creditUrl -%}
                  <a class="btn-flat" href="{{ image.creditUrl }}" target="_blank">
              {%- endif -%}
                    {{ image.credit }}
              {%- if image.creditUrl -%}
                  </a>
              {%- endif -%}
            </div>
          {%- endif -%}

        </div>
      </div>
    </div>
  </div>
</div>
