<a class="btn btn-radius btn-color" href="http://www.pinterest.com/pin/create/button/?url={{ data.piece._url | urlencode }}&media={% set image = apos.images.first(data.piece.topImage) %}{{ apos.attachments.url(image, { size: data.options.size or 'full' }) | urlencode }}&description={{ image.title | urlencode }}" target="_blank"><i class="icon pinterest"></i></a>
<a class="btn btn-radius btn-color" href="https://www.facebook.com/sharer.php?u={{ data.piece._url | urlencode }}" target="_blank"><i class="icon facebook"></i></a>
<a class="btn btn-radius btn-color" href="https://twitter.com/intent/tweet?url={{ data.piece._url | urlencode }}&text={{ apos.areas.plaintext(data.piece.description, { limit: '210' } ) | urlencode }}" target="_blank"><i class="icon twitter"></i></a>
<a class="btn btn-radius btn-color" href="https://www.linkedin.com/shareArticle?mini=true&url={{ data.piece._url | urlencode }}&title={{ data.piece.title | urlencode }}&summary={{ apos.areas.plaintext(data.piece.description, { limit: '210' } ) | urlencode }}&source={{ data.home._url | urlencode }}" target="_blank"><i class="icon linkedin"></i></a>
