// Box shadow mixin
.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}
// Colors
@white: #ffffff;
@black: #000000;
@green: #008000;
@red: #f44336;
@purple: #9c27b0;
@yellow: #fdd835;
@orange: #e65100;
@blue: #2196f3;
@red-hover: darken(@red, 10%); // Empty widget area
.apos-refreshable {
  .apos-empty {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: @white;
    .box-shadow(0 0 4px 2px rgba(0, 0, 0, .16));
  }
}
// Video player
.apos-video-player {
  position: relative;
  margin-bottom: -.4rem;
  .apos-video-thumbnail-title {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 1em;
    left: 1em;
    z-index: 2;
    color: @white;
    font-size: 16px;
    text-shadow: 0 0 2px black;
  }
  .apos-video-thumbnail {
    width: 100%;
  }
  .apos-video-busy-indicator {
    display: none;
  }
  &.apos-oembed-busy .apos-video-busy-indicator {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 11px;
    background-image: url("/modules/apostrophe-oembed/images/busy.gif");
  }
}
// Empty widget area
.slide-content {
  .apos-empty {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.main-content {
  .apos-empty {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
fieldset {
  .apos-area-widget,
  .apos-area-widgets {
    width: 100%;
  }
}
// Spinner
.apos-global-busy:after {
  color: @red;
}

// Admin UI
.main-content {
  .login-link {
    float: right;
    color: @white;
  }
  .apos-peek {
    opacity: 1;
  }
}
.apos-area-controls {
  .apos-area-divider {
    .box-shadow(none);
    background-color: @red;
  }
}
.apos-area-widgets {
  .apos-peek {
    opacity: 1;
  }
}
.admin-bar li > a {
  color: @black;
}
// Apos button
.apos-ui {
  .apos-required label:first-of-type:after {
    color: @red;
  }
  .apos-field-input-checkbox-indicator,
  .apos-form-checkbox-indicator {
    border: inherit;
  }
  .apos-field-input-checkbox:checked + .apos-field-input-checkbox-indicator,
  .apos-form-checkbox-input:checked ~ .apos-form-checkbox-indicator,
  .apos-manage-grid-view .apos-manage-grid-piece.apos-focus .apos-field-input-checkbox-indicator {
    background: inherit;
  }
  .apos-button:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  }
  .apos-fieldset-row,
  .apos-modal-content,
  .apos-modal-controls {
    .apos-field-input-select:focus,
    .apos-field-input-select:hover,
    .apos-field-input-textarea:focus,
    .apos-array-save-item.apos-button:focus,
    .apos-array-save-item.apos-button:hover,
    .apos-button--major:focus,
    .apos-button--major:hover,
    .apos-button.apos-button--action:focus,
    .apos-button.apos-button--action:hover,
    .apos-control.apos-button:focus,
    .apos-control.apos-button:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  .apos-reorganize-tree {
    .jqtree-tree {
      .jqtree-moving {
        background-color: @green !important;
      }
      .jqtree-border {
        border-color: @green;
      }
      .jqtree-line {
        background-color: @green !important;
      }
      .jqtree-circle {
        border-color: @green;
      }
      .apos-reorganize-controls {
        a:hover {
          color: @red;
        }
      }
    }
  }
  .apos-schema-tabs {
    z-index: 999;
  }
  .apos-schema-groups {
    // Two Column Schema Groups add here
    .apos-schema-group[data-apos-group="images"],
    .apos-schema-group[data-apos-group="colors"],
    .apos-schema-group[data-apos-group="options"],
    .apos-schema-group[data-apos-group="special"] {
      .apos-schema-group-inner {
        .apos-field {
          width: 50%;
          padding: 0 15px;
          float: left;
          min-height: 191px;
        }
      }
    }
    .apos-schema-group-inner {
      .input-field {
        margin: 1rem 0;
        input,
        textarea {
          border-bottom-color: #9e9e9e !important;
        }
        input:focus,
        textarea:focus {
          border-bottom-color:@red !important;
          box-shadow:0 1px 0 0 @red !important;
          filter: brightness(100%);
        }
        input,
        input + label,
        textarea,
        textarea + label {
          margin-left: 0;
        }
        input + label,
        textarea + label {
          color: #a9a9a9 !important;
        }
        input:focus + label,
        textarea:focus + label {
          color: @red !important;
          filter: brightness(100%)
        }
        i {
          display: none;
        }
      }
    }
  }
  .apos-fieldset-row {
    .apos-button {
      border-color: @red;
    }
  }
  .apos-button--action {
    border-color: @red;
  }
  .apos-array-save-item.apos-button {
    border-color: @red;
  }
  .apos-modal-breadcrumb .apos-modal-breadcrumb-item {
    border-color: @red !important;
  }
  .apos-chooser-choice:hover {
    background-color: @red;
  }
  .apos-button--in-context {
    .box-shadow(none);
    border-color: @red;
  }
  .apos-button--in-context:hover {
    .box-shadow(none);
    border-color: @red;
    color: @red;
  }
  .apos-button--in-group:hover {
    color: @red;
  }
  .apos-buttons {
    .box-shadow(none);
    border-color: @red;
  }
  .apos-button--major {
    background-color: @green;
  }
  .apos-button--circular {
    background-color: @red;
    padding: 16px;
    font-size: 14px;
  }
  .apos-dropdown.apos-dropdown--area-controls > .apos-button {
    .box-shadow(none);
    border: 0;
    color: #fff;
    top: -12px;
  }
  .apos-button--inline {
    border: 0;
  }
  .apos-button--inline:hover {
    border: 0;
  }
  .apos-manage-tag-add {
    color: @black;
  }
  .apos-manage-tag-add:hover {
    color: @red;
  }
  input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom-color: @red;
    box-shadow: 0 1px 0 0 @red;
  }
  [type="checkbox"]:checked + span:not(.lever):before {
    border-right-color: @red;
    border-bottom-color: @red;
  }
  .apos-reorganize-published--true {
    background-color: @green;
  }
  .apos-reorganize-tree-header {
    [type="checkbox"] {
      top: 24px;
      width: inherit;
      z-index: 999;
      cursor: pointer;
      pointer-events: inherit;
    }
  }
  .apos-reorganize-tree {
    input[type="checkbox"] {
      top: 14px;
      z-index: 999;
      cursor: pointer;
      pointer-events: inherit;
    }
  }
  .apos-manage-grid-view {
    overflow: visible;
    .apos-manage-grid-piece.apos-focus:before,
    .apos-manage-grid-piece:hover:before {
      border-color: @red;
  }
    .apos-manage-grid-piece {
      .apos-manage-grid-piece-controls {
        .apos-button {
          i {
            color: @red;
          }
        }
      }
      .apos-manage-grid-piece-label {
        padding-left: 35px;
      }
    }
  }
  .apos-table {
    .apos-manage-column:hover,
    td a:hover,
    th a:hover {
      color: @red;
    }
  }
  .btn-admin {
    z-index: 998;
    .insert {
      background-color: @purple;
    }
    .copy{
      background-color: @green;
    }
    .update {
      background-color: @yellow;
    }
    .versions {
      background-color: @orange;
    }
    .reorganize {
      background-color: @blue;
    }
  }
  //Admin Color Overrides
  .flow-text {
    color: @black;
  }
  .accent-color {
    color: @black;
  }
  .apos-rich-text-widget > [data-rich-text]:focus {
    outline: @black dashed 1px;
  }
}// <-- end of apos-ui
// Cke Editor
.cke_inner {
  border-color: @red !important;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5) !important;
}
// Admin Bar
.admin-bar {
  position: fixed;
  top: 74px;
  left: 50%;
  z-index: 999;
  transform: translate(-50%);
  .btn.btn-large {
    color: @white;
    background-color: @red;
  }
}
.apos-ui .apos-admin-bar {
  top: 80px;
}
.apos-ui.apos-modal {
  z-index: 999;
}
.sidenav-overlay {
  z-index: 7;
}
// Palette
.apos-palette-container {
  z-index: 999;
}
// Admin Widget UI
/*
.apos-dropdown-items {
  max-width: inherit !important;
}
.apos-dropdown-item {
  float: left;
}
*/
