{% set pieces = data.widget._pieces or data.pieces %}
<div class="nav">
  {# Dekstop #}
  <nav>
    <div class="nav-wrapper z-depth-2">
      <a class="brand-logo" href="{{ data.home._url }}">

        {% if data.global._logo %}
          <img
            src="{{ apos.attachments.url(data.global._logo.attachment, { size: 'full' }) }}"
            alt="{{ global._logo.description }}"
          >
        {% else %}
          <h1 class="accent-color"
            {% if data.global.navTextColor %}
              style="color: {{ data.global.navTextColor }}"
            {% endif %}
            >
            {{ data.home.title }}
          </h1>
        {% endif %}

      </a>

      <a href="#" data-target="mobile" class="accent-color sidenav-trigger"
        {% if data.global.navTextColor %}
          style="color: {{ data.global.navTextColor }}"
        {% endif %}
      >
        <i class="material-icons">menu</i>
      </a>

      <ul class="nav-activator right hide-on-med-and-down">

        {# Links Array Widget #}
        {% if data.widget.links[0] %}
          {% for name in data.widget.links %}
           <li>
             <a href="{{ name.url }}" class="accent-color"
               {% if data.global.navTextColor %}
                 style="color: {{ data.global.navTextColor }}"
               {% endif %}
             >
               {% if name.icon %}
                  <i class="material-icons left">{{ name.icon }}</i>
               {% endif %}
               {{ name.name }}
             </a>
           </li>
          {% endfor %}

        {# Links Array Page #}
        {% elif data.page.links[0] %}
          {% for name in data.page.links %}
           <li>
             <a href="{{ name.url }}" class="accent-color"
               {% if data.global.navTextColor %}
                 style="color: {{ data.global.navTextColor }}"
               {% endif %}
             >
               {% if name.icon %}
                  <i class="material-icons left">{{ name.icon }}</i>
               {% endif %}
               {{ name.name }}
             </a>
           </li>
          {% endfor %}
        {% endif %}

        {# Home Active #}
        <li
          {% if data.page._children[0] %}
            class="active"
          {% endif %}
        >
          <a href="{{ data.home._url }}" data-target="desktop-dropdown" class="accent-color flow-text
            {% if data.page and (data.page._children[0] or data.home._id == data.page._id) %}
              dropdown-trigger
            {% endif %}"
            {% if data.global.navTextColor %}
              style="color: {{ data.global.navTextColor }}"
            {% endif %}
          >
            {{ data.home.title }}
            {% if data.page and (data.page._children[0] or data.home._id == data.page._id) %}
              <i class="material-icons left">arrow_drop_down</i>
            {% endif %}
          </a>
        </li>

        {# Home Cildren Active #}
        {% for tab in data.home._children %}
          <li
            {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %}
              class="active"
            {% endif %}
          >
            <a href="{{ tab._url }}" data-target="desktop-dropdown" class="accent-color flow-text
              {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %}
                dropdown-trigger
              {% endif %}"
              {% if data.global.navTextColor %}
                style="color: {{ data.global.navTextColor }}"
              {% endif %}
            >
              {{ tab.title }}
              {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %}
                <i class="material-icons left">arrow_drop_down</i>
              {% endif %}
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </nav>

      {# Dropdown Desktop #}
      <ul class="dropdown-content" id="desktop-dropdown">
        {% for section in pieces %}
          <li>
            <a href="#{{ section.slug }}" class="accent-color flow-text anchor truncate"
              {% if data.global.navTextColor %}
                style="color: {{ data.global.navTextColor }}"
              {% endif %}
            >
              {{ section.title }}
            </a>
          </li>
        {% endfor %}

      </ul>

</div>

{# Mobile #}
<ul class="sidenav" id="mobile">

  {# Links Array Widget #}
  {% if data.widget.links[0] %}
    {% for name in data.widget.links %}
     <li>
       <a href="{{ name.url }}" class="accent-color"
         {% if data.global.navTextColor %}
           style="color: {{ data.global.navTextColor }}"
         {% endif %}
       >
         {% if name.icon %}
            <i class="material-icons left">{{ name.icon }}</i>
         {% endif %}
         {{ name.name }}
       </a>
     </li>
    {% endfor %}

  {# Links Array Page #}
  {% elif data.page.links[0] %}
    {% for name in data.page.links %}
     <li>
       <a href="{{ name.url }}" class="accent-color"
         {% if data.global.navTextColor %}
           style="color: {{ data.global.navTextColor }}"
         {% endif %}
       >
         {% if name.icon %}
            <i class="material-icons left">{{ name.icon }}</i>
         {% endif %}
         {{ name.name }}
       </a>
     </li>
    {% endfor %}
  {% endif %}

  {# Home Active #}
  <li
    {% if data.page._children[0] %}
      class="active"
    {% endif %}
  >
    <a href="{{ data.home._url }}" data-target="mobile-dropdown" class="accent-color flow-text waves-effect waves-light
      {% if data.page._children[0] %}
        dropdown-trigger
      {% endif %}"
      {% if data.global.navTextColor %}
        style="color: {{ data.global.navTextColor }}"
      {% endif %}
      >
      {{ data.home.title }}
      {% if data.page._children[0] %}
        <i class="material-icons right">arrow_drop_down</i>
      {% endif %}
    </a>
  </li>

  {# Home Cildren Active #}
  {% for tab in data.home._children %}
    <li
      {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %}
        class="active"
      {% endif %}
    >
      <a href="{{ tab._url }}" data-target="mobile-dropdown" class="accent-color flow-text waves-effect waves-light
        {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %}
          dropdown-trigger
        {% endif %}"
        {% if data.global.navTextColor %}
          style="color: {{ data.global.navTextColor }}"
        {% endif %}
      >
        {{ tab.title }}
        {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %}
          <i class="material-icons right">arrow_drop_down</i>
        {% endif %}
      </a>
    </li>
  {% endfor %}

  {# Dropdown Mobile #}
  <ul class="dropdown-content" id="mobile-dropdown">
    {% for section in pieces %}
      <li>
        <a href="#{{ section.slug }}" class="accent-color flow-text sidenav-close anchor"
          {% if data.global.navTextColor %}
            style="color: {{ data.global.navTextColor }}"
          {% endif %}
        >
          {{ section.title }}
        </a>
      </li>
    {% endfor %}
  </ul>

</ul>
