<div class="fixed-action-btn btn-admin">
  <a class="btn btn-floating btn-large red">
    <i class="large material-icons">more_vert</i>
  </a>
  <ul>
    <li data-apos-insert-page="">
      <a href="#" class="btn btn-floating insert" ><i class="material-icons">add</i></a>
    </li>
    <li data-apos-copy-page="">
      <a href="#" class="btn btn-floating copy"><i class="material-icons">content_copy</i></a>
    </li>
    <li data-apos-update-page="">
      <a href="#" class="btn btn-floating update"><i class="material-icons">sync</i></a>
    </li>
    <li data-apos-versions-page="">
      <a href="#" class="btn btn-floating versions"><i class="material-icons">settings_backup_restore</i></a>
    </li>
    <li data-apos-reorganize-page="">
      <a href="#" class="btn btn-floating reorganize"><i class="material-icons">reorder</i></a>
    </li>
  </ul>
</div>
