
<div class="slider fullscreen">
  <ul class="slides">

    {% block items %}

      {% for entry in data.widget._pieces %}
        {% set image = entry.item or entry %}
        {% set relationship = entry.relationship %}

        <li>
          <img data-image
            src="{{ apos.attachments.url(image.attachment, { size: data.options.size or 'full', crop: relationship }) }}"
            data-srcset="{{ apos.images.srcset(image.attachment, relationship) }}"
            srcset="{{ apos.images.srcset(image.attachment, relationship) }}"
            sizes="{{ data.options.sizesAttr or '100vw' }}"
            alt="{{ image.title }}"
            {%- if apos.attachments.hasFocalPoint(relationship) -%}
              style="object-position: {{ apos.attachments.focalPointToBackgroundPosition(relationship) }}"
            {%- endif -%}
          >

          <div class="caption {{ image.align }}">

            {% if data.widget.title == true %}
              <h3 class="accent-color truncate hide-on-small-only"
                {% if image.titleColor %}
                  style="color:{{ image.titleColor }}"
                {% endif %}
              >
                {{ image.title }}
              </h3>
            {% endif %}

            {% if image.description %}
              <p class="flow-text"
                {% if image.descriptionColor %}
                  style="color:{{ image.descriptionColor }}"
                {% endif %}
              >
                {{ image.description | nlbr }}
              </p>
            {% endif %}

          </div>

          {% if image.credit %}
            <div class="credit">
              {% if image.creditUrl %}
                  <a href="{{ image.creditUrl }}" target="_blank">
              {% endif %}
                    <span>{{ image.credit }}</span>
              {% if image.creditUrl %}
                  </a>
              {% endif %}
          </div>
          {% endif %}

        </li>

      {% endfor %}
    {% endblock %}

  </ul>
</div>
<style>
{% if data.widget._pieces.length <= 1 %}
  .slider .indicators {
    display: none
  }
{% endif %}
  .slider .indicators .indicator-item.active {
    background-color: {{data.global.accentColor}}
  }
</style>
