<div class="row widget">
  <div class="col s12">
    <div class="radius
    {% if data.page.shadow %}
      z-depth-1
    {% endif %}
    ">
      <div class="card z-depth-0">


              {% for entry in data.widget._pieces %}
                {% set image = entry.item or entry %}
                {% set relationship = entry.relationship %}

                    <div class="card-image">
                      <img
                        data-featherlight="{{ apos.attachments.url(image.attachment, { size: 'full', crop: relationship }) }}"
                        src="{{ apos.attachments.url(image.attachment, { size: data.options.size, crop: relationship }) }}"
                        srcset="{{ apos.images.srcset(image.attachment, relationship ) }}"
                        sizes="{{ data.options.sizesAttr or '100vw' }}"
                        alt="{{ image.title }}"
                        {% if apos.attachments.hasFocalPoint(relationship) %}
                          style="object-position: {{ apos.attachments.focalPointToBackgroundPosition(relationship) }}"
                        {% endif %}
                      >

                      {% if data.widget.title %}
                        <span class="card-title {{ image.align }}">
                          <h4 class="accent-color truncate hide-on-small-only"
                            {% if data.widget.titleColor %}
                              style="color:{{ data.widget.titleColor }}"
                            {% elif image.titleColor %}
                              style="color:{{ image.titleColor }}"
                            {% endif %}
                          >
                            {{ image.title }}
                          </h4>
                        </span>
                      {% endif %}

                    </div>

                    {% if image.description %}
                      <div class="card-content{% if image.revealText %} activator{% endif %}">
                        <p class="flow-text"
                          {% if data.widget.descriptionColor %}
                            style="color:{{ data.widget.descriptionColor }}"
                          {% elif image.descriptionColor %}
                            style="color:{{ image.descriptionColor }}"
                          {% endif %}
                        >
                          {{ image.description | nlbr }}
                          <i class="material-icons right accent-color">more_vert</i>
                        </p>
                      </div>

                      {% if image.revealText %}
                        <div class="card-reveal">

                            <span class="card-title {{ image.align }}">
                              <i class="material-icons close accent-color">close</i>
                              <h4 class="accent-color"
                                {% if data.widget.titleColor %}
                                  style="color:{{ data.widget.titleColor }}"
                                {% elif image.titleColor %}
                                  style="color:{{ image.titleColor }}"
                                {% endif %}
                              >
                                {{ image.title }}
                              </h4>
                            </span>

                            {{ apos.area(image, 'revealText', {
                              edit: false,
                              widgets: { 'apostrophe-rich-text': { } }
                            }) }}

                        </div>
                      {% endif %}

                    {% endif %}

                    {% if image.credit %}
                      <div class="credit">
                        {% if image.creditUrl %}
                            <a href="{{ image.creditUrl }}" target="_blank">
                        {% endif %}
                              <span>{{ image.credit }}</span>
                        {% if image.creditUrl %}
                            </a>
                        {% endif %}
                      </div>
                    {% endif %}

              {% endfor %}

      </div>
    </div>
  </div>
</div>
