{%- import "macros.html" as schemas -%}
{% if data.input == 'text' %}
  <div class="input-field col s12" data-name="{{ data.name }}">
    <i class="material-icons prefix">account_circle</i>
    <input placeholder="{{ data.global.contactFormName or data.label }}" id="{{ data.name }}" type="text" name="{{ data.name }}" onkeydown="return event.key != 'Enter';" />
    <label class="active" for="{{ data.name }}">{{ data.global.contactFormName or data.label }}<span style="color:{{ data.global.accentColor }}">*</span></label>
  </div>
{% elif data.input == 'email' %}
  <div class="input-field col s12" data-name="{{ data.name }}">
    <i class="material-icons prefix">email</i>
    <input placeholder="{{ data.global.contactFormEmail or data.label }}" id="{{ data.name }}" type="email" name="{{ data.name }}" onkeydown="return event.key != 'Enter';" />
    <label class="active" for="{{ data.name }}">{{ data.global.contactFormEmail or data.label }}<span style="color:{{ data.global.accentColor }}">*</span></label>
  </div>
{% elif data.input == 'textarea' %}
  <div class="input-field col s12" data-name="{{ data.name }}">
    <i class="material-icons prefix">edit</i>
    <textarea placeholder="{{ data.global.contactFormBody or data.label }}" class="materialize-textarea" id="{{ data.name }}" name="{{ data.name }}"></textarea>
    <label class="active" for="{{ data.name }}">{{ data.global.contactFormBody or data.label }}<span style="color:{{ data.global.accentColor }}">*</span></label>
  </div>
{% else %}
  {# Normal way #}
  {{ schemas.string(data) }}
{% endif %}
