{% extends "layout.html" %}

{# Imports #}
{% import 'apostrophe-favicons:faviconMacros.html' as favicons %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{# Seo and Open Graph fields #}
{% if data.page.seoTitle %}
  {% set title = data.page.seoTitle %}
{% else %}
  {% set title = data.page.title %}
{% endif %}

{# Page Title depends on variables above #}
{% block title %}{{ title }}{% endblock %}

{# Additional header elements #}
{% block extraHead %}

  {# Includes #}
  {% include "apostrophe-assets:cdn.html" %}
  {% include "apostrophe-assets:styles.html" %}
  {% include "apostrophe-seo:view.html" %}
  {% include "apostrophe-open-graph:view.html" %}

  {# Favicons #}
  {{ favicons.renderLinks(apos, data.global) }}

  {# Palette #}
  {{ palette.stylesheetLink(data.global) }}
  {{ palette.stylesheetTag() }}
{% endblock %}

{# Insert Palette #}
{% block beforeMain %}
  {% if data.user %}
    {{ palette.palette(data.global, 'palette') }}
  {% endif %}
{% endblock %}

{# Main Block #}
{% block main %}

  {# Navigation #}
  {% include "nav-widgets:nav-dropdown.html" %}

  {# Sections #}
  <div class="section-wrapper">

    {% for section in data.pieces %}
        {# Background settings #}
      <div id="{{ section.slug }}" class="section page" style="
        {% if section._image.attachment  %}
          background-image: url({{ apos.attachments.url(section._image.attachment, { size: data.options.size or 'full' }) }})
        {% elif section.color %}
          background-color:{{ section.color }}
        {% endif %}
      ">

        {# Small Side Image #}
        {% if section._sideImage %}
          <div class="side-image"
            {% if section.sideImageRight %}
              style="right:0;"
            {% endif %}
          >
            <img
              src="{{ apos.attachments.url(section._sideImage.attachment, { size: data.options.size or 'one-third' }) }}"
              srcset="{{ apos.images.srcset(section._sideImage.attachment) }}"
              sizes="(max-width:600px) 50vw, 40vw"
              alt="{{ section._sideImage.description or section._sideImage.title }}"
            >
          </div>
        {% endif %}

        {# Slide #}
        {% if section.preferences == 'slideOn' %}
          <div class="slide-content">
            {{ apos.singleton(section, 'content', 'slider', {
              limit: 1,
              size: 'full',
              sizesAttr: '(max-width:600px) 120vw, 58vw',
              controls: {
                movable: false,
                cloneable: false,
                removable: true,
                position: 'top-right'
              }
            }) }}
          </div>

        {# Footer #}
        {% elif section.preferences == 'footerOn' %}
          <div class="main-content">

          {% if section.titleShow == true %}
            <div class="title">
              <a href="{{ section._url }}">
                <h3 class="accent-color" style="
                  {% if section.titleColor %}
                    color:{{ section.titleColor }}
                  {% endif %}
                ">
                  {{ section.title }}
                </h3>
              </a>
            </div>
          {% endif %}

          {% if section.container == 'on' %}
            <div class="container">
          {% endif %}

              <div class="widgets-container">

                {{ apos.area(section, 'content', {
                  limit: 1,
                  widgets: {
                    'apostrophe-forms': {
                      controls: {
                        movable: false,
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    }
                  }
                }) }}

              </div>

          {% if section.container == 'on' %}
            </div>
          {% endif %}

          </div>

          <div class="bottom-content">
            {% include "footer-widgets:widget.html" %}
          </div>

        {# Main Widgets #}
        {% else %}
          <div class="main-content">

            {% if section.titleShow == true %}
              <div class="title">
                <a href="{{ section._url }}">
                  <h3 class="accent-color" style="
                    {% if section.titleColor %}
                      color:{{ section.titleColor }}
                    {% endif %}
                  ">
                    {{ section.title }}
                  </h3>
                </a>
              </div>
            {% endif %}

          {% if section.container == 'on' %}
            <div class="container">
          {% endif %}

              <div class="widgets-container">

                {% if section.glueWidgets == true %}
                  <div class="glue-container">
                {% endif %}

                    {{ apos.area(section, 'content', {
                      limit: 2,
                      widgets: {
                        'card': {
                          size: 'two-thirds',
                          aspectRatio: [ 2, 1 ],
                          sizesAttr: '(max-width:600px) 50vw, 40vw',
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'double': {
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'events': {
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'texts': {
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'texts-carousels': {
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'video': {
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'galleries': {
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'people': {
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'tables': {
                          controls: {
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        },
                        'apostrophe-forms': {
                          controls: {
                            movable: false,
                            cloneable: false,
                            removable: true,
                            position: 'top-right'
                          }
                        }
                      }
                    }) }}

                {% if section.glueWidgets == true %}
                  </div>
                {% endif %}

              </div>

          {% if section.container == 'on' %}
            </div>
          {% endif %}

          </div>
        {% endif %}

      </div>
    {% endfor %}

    {# Contact Button #}
    {% if data.page.buttonOn == true %}
      {% include "btn-widgets:widget.html" %}
    {% endif %}

  </div>

{% endblock %}
