{% extends "layout.html" %}

{# Imports #}
{% import 'apostrophe-favicons:faviconMacros.html' as favicons %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{# Seo and Open Graph fields #}
{% if data.page.seoTitle %}
  {% set title = data.page.seoTitle %}
{% else %}
  {% set title = data.page.title %}
{% endif %}

{# Page Title depends on variables above #}
{% block title %}{{ title }}{% endblock %}

{# Additional header elements #}
{% block extraHead %}

  {# Includes #}
  {% include "apostrophe-assets:styles.html" %}
  {% include "apostrophe-seo:view.html" %}
  {% include "apostrophe-open-graph:view.html" %}

  {# Favicons #}
  {{ favicons.renderLinks(apos, data.global) }}

  {# Palette #}
  {{ palette.stylesheetLink(data.global) }}
  {{ palette.stylesheetTag() }}
{% endblock %}

{# Insert Palette #}
{% block beforeMain %}
  {% if data.user %}
    {{ palette.palette(data.global, 'palette') }}
  {% endif %}
{% endblock %}

{# Main Block #}
{% block main %}

  {# Navigation #}
  {% include "nav-widgets:nav-default.html" %}

  {# Sections #}
  <div class="section-wrapper">

    {# Background settings #}
    <div id="{{ data.piece.slug }}" class="section page" style="
    {% if data.piece._image.attachment  %}
      background-image: url({{ apos.attachments.url(data.piece._image.attachment, { size: data.options.size or 'full' }) }})
    {% elif data.piece.color %}
      background-color:{{ data.piece.color }}
    {% endif %}
    ">

    {# Small Side Image #}
    {% if data.piece._sideImage %}
      <div class="side-image"
        {% if data.piece.sideImageRight %}
          style="right:0;"
        {% endif %}
      >
        <img
          src="{{ apos.attachments.url(data.piece._sideImage.attachment, { size: data.options.size or 'one-third' }) }}"
          srcset="{{ apos.images.srcset(data.piece._sideImage.attachment) }}"
          sizes="(max-width:600px) 50vw, 40vw"
          alt="{{ data.piece._sideImage.description or data.piece._sideImage.title }}"
        >
      </div>
    {% endif %}

    {# Slide #}
    {% if data.piece.preferences == 'slideOn' %}
      <div class="slide-content">
        {{ apos.singleton(data.piece, 'content', 'slider', {
          limit: 1,
          size: 'full',
          sizesAttr: '(max-width:600px) 120vw, 58vw',
          controls: {
            movable: false,
            cloneable: false,
            removable: true,
            position: 'top-right'
          }
        }) }}
      </div>

    {# Footer #}
    {% elif data.piece.preferences == 'footerOn' %}
      <div class="main-content">

      {% if data.piece.titleShow == true %}
        <div class="title">
          <h3 class="accent-color" style="
            {% if data.piece.titleColor %}
              color:{{ data.piece.titleColor }}
            {% endif %}
          ">
            {{ data.piece.title }}
          </h3>
        </div>
      {% endif %}

      {% if data.piece.container == 'on' %}
        <div class="container">
      {% endif %}

          <div class="widgets-container">

            {{ apos.area(data.piece, 'content', {
              limit: 1,
              widgets: {
                'contact-form': {
                  controls: {
                    movable: false,
                    cloneable: false,
                    removable: true,
                    position: 'top-right'
                  }
                }
              }
            }) }}

          </div>

      {% if data.piece.container == 'on' %}
        </div>
      {% endif %}

      </div>

      <div class="bottom-content">
        {% include "footer-widgets:widget.html" %}
      </div>

    {# Main Widgets #}
    {% else %}
      <div class="main-content">

        {% if data.piece.titleShow == true %}
          <div class="title">
            <h3 class="accent-color" style="
              {% if data.piece.titleColor %}
                color:{{ data.piece.titleColor }}
              {% endif %}
            ">
              {{ data.piece.title }}
            </h3>
          </div>
        {% endif %}

      {% if data.piece.container == 'on' %}
        <div class="container">
      {% endif %}

          <div class="widgets-container">

            {% if section.glueWidgets == true %}
              <div class="glue-container">
            {% endif %}

                {{ apos.area(data.piece, 'content', {
                  limit: 2,
                  widgets: {
                    'card': {
                     size: 'two-thirds',
                     aspectRatio: [ 2, 1 ],
                     sizesAttr: '(max-width:600px) 50vw, 40vw',
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'double': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'events': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'texts': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'texts-carousels': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'video': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'galleries': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'people': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'tables': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    },
                    'contact-form': {
                      controls: {
                        cloneable: false,
                        removable: true,
                        position: 'top-right'
                      }
                    }
                  }
                }) }}

            {% if piece.glueWidgets == true %}
              </div>
            {% endif %}

          </div>

      {% if piece.container == 'on' %}
        </div>
      {% endif %}

      </div>
    {% endif %}

    </div>

    {# Contact Button #}
    {% if data.page.buttonOn == true %}
      {% include "btn-widgets:widget.html" %}
    {% endif %}

  </div>

{% endblock %}
