{% extends "layout.html" %}

{# Imports #}
{% import 'apostrophe-favicons:faviconMacros.html' as favicons %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{# Seo and Open Graph fields #}
{% if data.page.seoTitle %}
  {% set title = data.page.seoTitle %}
{% else %}
  {% set title = data.page.title %}
{% endif %}

{# Page Title depends on variables above #}
{% block title %}{{ title }}{% endblock %}

{# Additional header elements #}
{% block extraHead %}

  {# Includes #}
  {% include "apostrophe-assets:cdn.html" %}
  {% include "apostrophe-assets:styles.html" %}
  {% include "apostrophe-seo:view.html" %}
  {% include "apostrophe-open-graph:view.html" %}

  {# Favicons #}
  {{ favicons.renderLinks(apos, data.global) }}

  {# Palette #}
  {{ palette.stylesheetLink(data.global) }}
  {{ palette.stylesheetTag() }}
{% endblock %}

{# Insert Palette #}
{% block beforeMain %}
  {% if data.user %}
    {{ palette.palette(data.global, 'palette') }}
  {% endif %}
{% endblock %}

{# Main Block #}
{% block main %}

  {# Navigation #}
  {% include "nav-widgets:nav-default.html" %}

  {# Main Content #}
  <div class="main-content">

    <div class="pages-container">
      <div class="container">

        <div class="row">
          <div class="col s12 m12">
            <div class="radius
              {% if data.page.shadow %}
                z-depth-1
              {% endif %}
            ">

              <div class="card z-depth-0 {% if piece.blogOn == true %}blog{% else %}horizontal{% endif %}"
                  {% if piece.backColor%}
                    style="background-color:{{ piece.backColor }}"
                  {% endif %}
                >

                <div class="card-stacked">

                  <div class="card-content"
                    {% if piece.backColor%}
                      style="background-color:{{ piece.backColor }}"
                    {% endif %}
                  >

                    <table class="highlight responsive-table">

                      <thead>
                        <tr>
                          {% for text in data.page.tableHeaders %}
                            <th class="flow-text">{{ text.text }}</th>
                          {% endfor %}
                        </tr>
                      </thead>

                      {# Include Galleries with Ajax #}
                      <div data-apos-ajax-context="texts">
                        {% include "indexAjax.html" %}
                      </div>

                    </table>

                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    {# Contact Button #}
    {% if data.page.buttonOn == true %}
      {% include "btn-widgets:widget.html" %}
    {% endif %}

    {# Footer #}
    <div class="bottom-content">
      {% include "footer-widgets:widget.html" %}
    </div>

  </div>

{% endblock %}
