{% extends "layout.html" %}

{# Imports #}
{% import 'apostrophe-favicons:faviconMacros.html' as favicons %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{# Seo and Open Graph fields #}
{% if data.page.seoTitle %}
  {% set title = data.page.seoTitle %}
{% else %}
  {% set title = data.page.title %}
{% endif %}

{# Page Title depends on variables above #}
{% block title %}{{ title }}
{% endblock %}

{# Additional header elements #}
{% block extraHead %}

  {# Includes #}
  {% include "apostrophe-assets:styles.html" %}
  {% include "apostrophe-seo:view.html" %}
  {% include "apostrophe-open-graph:view.html" %}

  {# Favicons #}
  {{ favicons.renderLinks(apos, data.global) }}

  {# Palette #}
  {{ palette.stylesheetLink(data.global) }}
  {{ palette.stylesheetTag() }}
{% endblock %}

{# Insert Palette #}
{% block beforeMain %}
  {% if data.user %}
    {{ palette.palette(data.global, 'palette') }}
  {% endif %}
{% endblock %}

{# Main Block #}
{% block main %}

  {# Navigation #}
  {% include "nav-widgets:nav-default.html" %}

  {# Main Content #}
  <div class="main-content">

    <div class="pages-container">
      <div class="container">

        <div class="row">
          <div class="col s12">
            <div class="radius
              {% if data.page.shadow %}
                z-depth-1
              {% endif %}
            ">

              <div class="card z-depth-0 {% if data.piece.blogOn == true %}blog{% else %}horizontal{% endif %}"
                  {% if data.piece.backColor%}
                    style="background-color:{{ data.piece.backColor }}"
                  {% endif %}
                >

                <div class="card-stacked">

                  <div class="card-content"
                      {% if data.piece.backColor%}
                        style="background-color:{{ data.piece.backColor }}"
                      {% endif %}
                    >

                    <div class="card-title accent-color"
                        {% if data.piece.titleColor %}
                          style="color:{{ data.piece.titleColor }}"
                        {% endif %}
                      >
                        {{ data.piece.title }}
                    </div>

                    <table class="responsive-table">

                      <thead>
                        <tr>
                          {% for text in data.page.tableHeaders %}
                            <th class="flow-text">{{ text.text }}</th>
                          {% endfor %}
                        </tr>
                      </thead>

                      <tbody>
                        <tr>

                          {% if data.piece.titleAsObject == true %}
                            <th class="flow-text">
                                {{ data.piece.title }}
                            </th>
                          {% endif %}

                          {% for text in data.piece.tableRowObjects %}

                            {% if text.text %}
                              <th class="flow-text">{{ text.text }}</th>
                            {% endif %}

                            {% if text.date %}
                              <th class="flow-text">{{ text.date }}</th>
                            {% endif %}

                            {% if text._image %}
                              <th class="table-image">
                                <img
                                  src="{{ apos.attachments.url(text._image.attachment, { size: data.options.size or 'one-sixth' }) }}"
                                  data-featherlight="{{ apos.attachments.url( text._image.attachment, { size: data.options.size or 'one-third' }) }}"
                                  alt="{{ text._image.description or text._image.title }}"
                                >
                              </th>
                            {% endif %}

                          {% endfor %}

                        <tr>
                      </tbody>

                    </table>

                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    {# Contact Button #}
    {% if data.page.buttonOn == true %}
      {% include "btn-widgets:widget.html" %}
    {% endif %}

    {# Footer #}
    <div class="bottom-content">
      {% include "footer-widgets:widget.html" %}
    </div>

  </div>

{% endblock %}
