{# ids must be unique doc-wide #}
{% set id = apos.utils.generateId() %}
{% set widget = data.widget %}
{% set classPrefix = data.widget.classPrefix %}
<div class="input-field">
  {% if widget.icon %}
    <i class="material-icons prefix accent-color">{{ widget.icon}}</i>
  {% endif %}
  <input class="apos-forms-input {{ classPrefix + '__input' if classPrefix }}"
    type="{{ widget.inputType or "text" }}"
    {% if widget.placeholder %}
      placeholder="{{widget.placeholder}}"
    {% endif %}
    id="{{ id }}" name="{{ widget.fieldName}}"
    {% if widget.inputType == 'date' %}
      pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"
    {% endif %}
    {% if widget.required %}required{% endif %}
  />
  <label for="{{ id }}" class="apos-forms-label {{ classPrefix + '__label' if classPrefix }}">
    {{ widget.fieldLabel}}
    {% if not widget.required %}<span class="apos-form-field-optional"> {{ __("(Optional)") }}</span>{% endif %}
    <span class="apos-forms-label-message {{ classPrefix + '__label-message' if classPrefix }}" data-apos-input-message="{{ widget.fieldName}}" hidden></span>
  </label>
  {% if widget.inputType == 'date' %}
    <p>
      <small class="apos-forms-help">{{ __("(YYYY-MM-DD)") }}</small>
    </p>
  {% endif %}
</div>
