<footer class="page-footer">
  <div class="footer-copyright"
    {%- if piece.smallFooter -%}
      style="padding:0"
    {%- endif -%}
  >
    <div class="footer-container">
      <div class="row">

        <div class="col s12 m3 push-m6 l2 push-l8 center">
          {%- if data.global.privacy -%}
            <a class="grey-text text-lighten-4 right modal-trigger" href="#modal-1" rel="nofollow"><p>{{ data.global.footerPrivacy or 'Privacy' }}</p></a>
            <div id="modal-1" class="modal">
              <div class="modal-content text-darken-4">

                <h4>{{ data.global.footerPrivacy or 'Privacy' }}</h4>
                <iframe src="/modules/footer-widgets/privacy" width="100%" height="500px"></iframe >

              </div>
            </div>
          {%- endif -%}
        </div>

        <div class="col s12 m3 push-m6 l2 push-l8 center">
          {%- if data.global.legal -%}
            <a class="grey-text text-lighten-4 right modal-trigger" href="#modal-2" rel="nofollow"><p>{{ data.global.footerLegal or 'Legal' }}</p></a>
            <div id="modal-2" class="modal">
              <div class="modal-content text-darken-4">

                <h4>{{ data.global.footerLegal or 'Legal Info' }}</h4>
                <iframe src="/modules/footer-widgets/legal" width="100%" height="500px"></iframe >

              </div>
            </div>
          {%- endif -%}
        </div>

        <div class="col s12 m6 pull-m6 l8 pull-l4 copyright-center">
          {%- if data.global.legal -%}
            <p> © {{ data.global.creation_date }} {{ data.global.copyright }} </p>
          {%- endif -%}
        </div>

      </div>
    </div>
  </div>
</footer>
