{% extends "layout.html" %}

{# Imports #}
{% import 'apostrophe-favicons:faviconMacros.html' as favicons %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{# Seo and Open Graph fields #}
{% if data.page.seoTitle %}
  {% set title = data.page.seoTitle %}
{% else %}
  {% set title = data.page.title %}
{% endif %}

{# Page Title depends on variables above #}
{% block title %}{{ title }}{% endblock %}

{# Additional header elements #}
{% block extraHead %}

  {# Includes #}
  {% include "apostrophe-assets:styles.html" %}
  {% include "apostrophe-seo:view.html" %}
  {% include "apostrophe-open-graph:view.html" %}

  {# Favicons #}
  {{ favicons.renderLinks(apos, data.global) }}

  {# Palette #}
  {{ palette.stylesheetLink(data.global) }}
  {{ palette.stylesheetTag() }}
{% endblock %}

{# Insert Palette #}
{% block beforeMain %}
  {% if data.user %}
    {{ palette.palette(data.global, 'palette') }}
  {% endif %}
{% endblock %}


{# Main Block #}
{% block main %}

  {# Navigation #}
  {% include "nav-widgets:nav-default.html" %}

  {# Main Content #}
  <div class="main-content">

    <div class="container">
      <div class="pages-container">

        <div class="row">
          <div class="col s12">
            <div class="radius
              {% if data.page.shadow %}
                z-depth-1
              {% endif %}
            ">

              <div class="card people z-depth-0" style="
                  {% if piece.backColor%}
                    background-color:{{ piece.backColor }}
                  {% endif %}
                ">

                {%- if data.piece.topImage.items[0] or data.piece._thumbnail -%}
                  <div class="card-image"
                    {% if data.piece.topImage.items[0] %}
                      style="height: 100%"
                    {% endif %}
                  >
                {% endif %}

                  {% if data.piece.topImage.items[0] %}
                    {% set topImage = apos.images.first(data.piece.topImage) %}
                    <img
                      src="{{ apos.attachments.url(topImage, { size: data.options.size or 'two-thirds' }) }}"
                      srcset="{{ apos.images.srcset(topImage, relationship ) }}"
                      sizes="(max-width:600px) 50vw, 40vw"
                      alt="{{ topImage .title }}">
                  {% endif %}

                  {%- if data.piece._thumbnail -%}
                      <div class="btn-floating halfway-fab grey">
                        <img class="circle"
                          data-featherlight="{{ apos.attachments.url(data.piece._thumbnail.attachment, { size: data.options.size or 'full' }) }}"
                          src="{{ apos.attachments.url(data.piece._thumbnail.attachment, { size: data.options.size or 'one-sixth' }) }}"
                          srcset="{{ apos.images.srcset(data.piece._thumbnail.attachment) }}"
                          sizes="{{ '10vw' }}"
                          alt="{{ data.piece._thumbnail.description or data.piece._thumbnail.title }}">
                      </div>
                  {% endif %}

                {%- if data.piece.topImage.items[0] or data.piece._thumbnail -%}
                  </div>
                {% endif %}

                <div class="card-stacked">

                  <div class="card-content" style="
                    {% if piece.backColor%}
                      background-color:{{ piece.backColor }}
                    {% endif %}
                  ">

                    {% if data.piece.title %}
                      <h4 class="accent-color card-title" style="
                        {% if piece.titleColor %}
                          color:{{ piece.titleColor }}
                        {% endif %}
                      ">
                        {{ data.piece.title }}
                      </h4>
                    {% endif %}

                    {% if data.piece.body.items[0] %}
                      {{ apos.area(data.piece, 'body', {
                        edit: false,
                        widgets: {
                          'apostrophe-rich-text': {}
                        }
                      }) }}
                    {% endif %}
                  </div>

                  {% if data.piece.email or data.piece.phone %}

                      <ul class="card-action z-depth-0{% if piece.text.items[0] %} collapsible{% endif %}" style="
                        {% if piece.backColor %}
                          background-color:{{ piece.backColor }}
                        {% endif %}
                      ">
                        <li>

                          <div class="row">

                            {% if data.piece.email %}
                              <div class="col m6 left-align hide-on-small-only">
                                <a class="btn-flat" href="mailto:{{ data.piece.email }}">
                                  {{ data.piece.email }}
                                </a>
                              </div>
                              <div class="col s12 center-align hide-on-med-and-up">
                                <a class="btn-flat" href="mailto:{{ data.piece.email }}">
                                  {{ data.piece.email }}
                                </a>
                              </div>
                            {% endif %}

                            {% if data.piece.phone  %}
                              <div class="col m6 right-align hide-on-small-only">
                                <a class="btn-flat" href="tel:{{ data.piece.phone }}">
                                  {{ data.piece.phone }}
                                </a>
                              </div>
                              <div class="col s12 center-align hide-on-med-and-up">
                                <a class="btn-flat" href="tel:{{ data.piece.phone }}">
                                  {{ data.piece.phone }}
                                </a>
                              </div>
                            {% endif %}

                          </div>

                        </li>
                      </ul>

                  {% endif %}

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    {# Contact Button #}
    {% if data.page.buttonOn == true %}
      {% include "btn-widgets:widget.html" %}
    {% endif %}

    {# Footer #}
    <div class="bottom-content">
      {% include "footer-widgets:widget.html" %}
    </div>

  </div>


{% endblock %}
