{% extends "layout.html" %}

{# Imports #}
{% import 'apostrophe-favicons:faviconMacros.html' as favicons %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{# Seo and Open Graph fields #}
{% if data.page.seoTitle %}
  {% set title = data.page.seoTitle %}
{% else %}
  {% set title = data.page.title %}
{% endif %}

{# Page Title depends on variables above #}
{% block title %}{{ title }}
{% endblock %}

{# Additional header elements #}
{% block extraHead %}

  {# Includes #}
  {% include "apostrophe-assets:styles.html" %}
  {% include "apostrophe-seo:view.html" %}
  {% include "apostrophe-open-graph:view.html" %}

  {# Favicons #}
  {{ favicons.renderLinks(apos, data.global) }}

  {# Palette #}
  {{ palette.stylesheetLink(data.global) }}
  {{ palette.stylesheetTag() }}
{% endblock %}

{# Insert Palette #}
{% block beforeMain %}
  {% if data.user %}
    {{ palette.palette(data.global, 'palette') }}
  {% endif %}
{% endblock %}

{# Main Block #}
{% block main %}

  {# Navigation #}
  {% include "nav-widgets:nav-default.html" %}

  {# Main Content #}
  <div class="main-content">

    <div class="pages-container">
      <div class="container">

        <div class="row">
          <div class="col s12">
            <div class="radius
              {% if data.page.shadow %}
                z-depth-1
              {% endif %}
            ">

              <div class="card z-depth-0 {% if data.piece.blogOn == true %}blog{% else %}horizontal{% endif %}" {% if data.piece.backColor %} style="background-color:{{ data.piece.backColor }}" {% endif %}>

                {% if data.piece.blogOn == true %}
                  {% if data.piece.topImage.items[0] %}
                    <div class="card-image">
                      {{ apos.area(data.piece, 'topImage', {
                        edit: false,
                        widgets: {
                          'card': {
                            size: 'one-half',
                            sizesAttr: '(max-width:600px) 50vw, 40vw',
                            noHeight: true,
                            focalPoint: true
                          }
                        }
                      }) }}
                    </div>
                  {% endif %}
                {% endif %}

                {% if data.piece.blogOn == false %}
                  {% if data.piece.sideImage.items[0] %}
                    <div class="row">
                      <div class="height-100 col s12 m3">
                        <div class="card-image">
                          {{ apos.area(data.piece, 'sideImage', {
                            edit: false,
                            widgets: {
                              'card': {
                                size: 'one-half',
                                sizesAttr: '(max-width:600px) 50vw, 30vw',
                                noHeight: true,
                                focalPoint: true
                              }
                            }
                          }) }}
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}

                  {% if data.piece.sideImage.items[0] %}
                    <div class="height-100 col s12 m9">
                    {% endif %}

                    <div class="card-stacked">

                      <div class="card-content" {% if data.piece.backColor %} style="background-color:{{ data.piece.backColor }}" {% endif %}>

                        {% if data.piece.title %}
                          <h4 class="accent-color card-title" {% if data.piece.titleColor %} style="color:{{ data.piece.titleColor }}" {% endif %}>
                            {{ data.piece.title }}
                          </h4>
                        {% endif %}

                        {% if data.piece.text.items[0] %}
                          {{ apos.area(data.piece, 'text', {
                            edit: false,
                            widgets: {
                              'apostrophe-rich-text': {},
                              'apostrophe-video': {},
                              'card': {
                                size: 'one-half',
                                sizesAttr: '(max-width:600px) 50vw, 25vw',
                                noHeight: true,
                                focalPoint: true
                              }
                            }
                          }) }}
                        {% elif data.piece.description.items[0] %}
                          {{ apos.area(data.piece, 'description', {
                            edit: false,
                            widgets: { 'apostrophe-rich-text': { } }
                          }) }}
                        {% endif %}

                      </div>

                      <div class="card-action z-depth-0" {% if data.piece.backColor %} style="background-color:{{ data.piece.backColor }}" {% endif %}>

                        <div class="row">

                          {% if data.piece.extraLink %}

                            <div class="col s6">
                              <a class="btn-flat" href="{{ data.piece.extraLink }}" target="_blank">
                                {% if data.piece.linkText %}
                                  {{ data.piece.linkText }}
                                {% else %}
                                  link
                                {% endif %}
                              </a>
                            </div>

                          {% endif %}

                          <div
                            class="right-align col
                            {% if data.piece.extraLink %}
                              s6
                            {% else %}
                              s12
                            {% endif %}
                          ">

                            {% if data.piece.blogOn == true %}
                              {% include "share-widgets:widget.html" %}
                            {% endif %}

                          </div>

                        </div>

                      </div>

                    </div>

                    {% if data.piece.sideImage.items[0] %}
                    </div>
                  </div>
                {% endif %}

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    {# Contact Button #}
    {% if data.page.buttonOn == true %}
      {% include "btn-widgets:widget.html" %}
    {% endif %}

    {# Footer #}
    <div class="bottom-content">
      {% include "footer-widgets:widget.html" %}
    </div>

  </div>

{% endblock %}
