{# Navigation #}
{% include "nav-widgets:nav-dropdown.html" %}

<div class="section-wrapper">

  {% for piece in data.widget._pieces %}

    {% if piece._backgroundImage and piece.backgroundImageParallax %}
      <div class="parallax-container">
        <div class="parallax">
          <img
            src="{{ apos.attachments.url(piece._backgroundImage.attachment, { size: data.options.size or 'one-third' }) }}"
            srcset="{{ apos.images.srcset(piece._backgroundImage.attachment) }}"
            sizes="(max-width:600px) 50vw, 60vw"
            alt="{{ piece._backgroundImage.description or piece._backgroundImage.title }}"
          >
        </div>
      </div>
    {% endif %}

    <div id="{{ piece.slug }}" class="section page" style="
      {% if piece.color %}
        background-color:{{ piece.color }}
      {% endif %}
    ">

      {# Background Image #}
      {% if piece._backgroundImage and not piece.backgroundImageParallax %}
        <div class="background-image">
          <img
            src="{{ apos.attachments.url(piece._backgroundImage.attachment, { size: data.options.size or 'one-third' }) }}"
            srcset="{{ apos.images.srcset(piece._backgroundImage.attachment) }}"
            sizes="(max-width:600px) 50vw, 40vw"
            alt="{{ piece._backgroundImage.description or piece._backgroundImage.title }}"
          >
        </div>
      {% endif %}

      {# Small Side Image #}
      {% if piece._sideImage %}
        <div class="side-image"
          {% if piece.sideImageRight %}
            style="right:0;"
          {% endif %}
        >
          <img
            src="{{ apos.attachments.url(piece._sideImage.attachment, { size: data.options.size or 'one-third' }) }}"
            srcset="{{ apos.images.srcset(piece._sideImage.attachment) }}"
            sizes="(max-width:600px) 50vw, 40vw"
            alt="{{ piece._sideImage.description or piece._sideImage.title }}"
          >
        </div>
      {% endif %}

      {# Slide #}
      {% if piece.preferences == 'slideOn' %}
        <div class="slide-content">
          {{ apos.singleton(piece, 'content', 'slider', {
            size: 'full',
            sizesAttr: '(max-width:600px) 120vw, 58vw',
            noHeight: true,
            focalPoint: true,
            controls: {
              movable: false,
              cloneable: false,
              removable: true,
              position: 'top-right'
            }
          }) }}
        </div>

      {# Footer #}
      {% elif piece.preferences == 'footerOn' %}
        <div class="main-content">

        {% if piece.container == 'on' %}
          <div class="container">
        {% endif %}

            <div class="widgets-container">

              {% if piece.header %}
                <h1 class="section-header
                  {% if piece.headerAlign == 'left' %}
                    left-align
                  {% elif piece.headerAlign == 'center' %}
                    center-align
                  {% elif piece.headerAlign == 'right' %}
                    right-align
                  {% endif %}
                ">
                  {{ piece.header }}
                </h1>
              {% endif %}

              {{ apos.area(piece, 'content', {
                limit: 1,
                widgets: {
                  'apostrophe-forms': {
                    controls: {
                      movable: false,
                      cloneable: false,
                      removable: true,
                      position: 'top-right'
                    }
                  }
                }
              }) }}
            </div>

        {% if piece.container == 'on' %}
          </div>
        {% endif %}

        </div>

        <div class="bottom-content">
          {% include "footer-widgets:widget.html" %}
        </div>

      {# Main Widgets #}
      {% else %}

        <div class="main-content">

        {% if piece.container == 'on' %}
          <div class="container">
        {% endif %}

            <div class="widgets-container">

              {% if piece.header %}
                <h1 class="section-header
                  {% if piece.headerAlign == 'left' %}
                    left-align
                  {% elif piece.headerAlign == 'center' %}
                    center-align
                  {% elif piece.headerAlign == 'right' %}
                    right-align
                  {% endif %}
                ">
                  {{ piece.header }}
                </h1>
              {% endif %}

              {% if piece.glueWidgets == true and piece.content.items.length == 2 %}
                <div class="glue-container-2">
              {% endif %}

              {% if piece.glueWidgets == true and piece.content.items.length == 3 %}
                <div class="glue-container-3">
              {% endif %}

                  {{ apos.area(piece, 'content', {
                    limit: 3,
                    widgets: {
                      'card': {
                        size: 'one-half',
                        limit: 1,
                        noHeight: true,
                        sizesAttr: '(max-width:600px) 50vw, 40vw',
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'double': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'events': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'texts': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'texts-carousels': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'video': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'galleries': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'people': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'tables': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'swiper': {
                        controls: {
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      },
                      'apostrophe-forms': {
                        controls: {
                          movable: false,
                          cloneable: false,
                          removable: true,
                          position: 'top-right'
                        }
                      }
                    }
                  }) }}
              {% if piece.glueWidgets == true %}
                </div>
              {% endif %}

            </div>

        {% if piece.container == 'on' %}
          </div>
        {% endif %}

        {% if data.page.buttonOn == true %}
          {% include "btn-widgets:widget.html" %}
        {% endif %}

        </div>
      {% endif %}

    </div>
  {% endfor %}
</div>
