<div class="content">

  <div class="pagination">
    {% import 'apostrophe-pager:macros.html' as pager with context %}
    {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
  </div>
  
  <div data-apos-ajax-append>

    {% for piece in data.pieces %}
      <div class="card z-depth-0"
          {% if piece.backColor%}
            style="background-color:{{ piece.backColor }}"
          {% endif %}
        >

        <div class="card-content no-padding-mobile" style="
          {% if piece.backColor%}
            background-color:{{ piece.backColor }}
          {% endif %}
        ">

          <div class="row">
            <div class="col s12 m12">

              <div class="gallery"
                style="
                  {% if piece.columnCount == '1' or piece.columnCount == '2' %}
                    display: flex;
                  {% endif %}"
              >

                <div class="title">
                  <a href="{{ piece._url }}">
                    <h3 class="accent-color" style="
                      {% if piece.titleColor %}
                        color:{{ piece.titleColor }};
                      {% endif %}
                      {% if piece.titleCenter %}
                        text-align: center;
                      {% endif %}
                    ">
                      {{ piece.title }}
                    </h3>
                  </a>
                </div>

                <div class="images" style="
                  {% if piece.columnCount == '5' %}
                    -webkit-column-count: 5;
                    -moz-column-count: 5;
                    column-count: 5;
                  {% elif piece.columnCount == '4' %}
                    -webkit-column-count: 4;
                    -moz-column-count: 4;
                    column-count: 4;
                  {% elif piece.columnCount == '3' %}
                    -webkit-column-count: 3;
                    -moz-column-count: 3;
                    column-count: 3;
                  {% elif piece.columnCount == '2' %}
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    max-width: 42rem;
                  {% elif piece.columnCount == '1' %}
                    -webkit-column-count: 1;
                    -moz-column-count: 1;
                    column-count: 1;
                    max-width: 20rem;
                  {% else %}
                    -webkit-column-count: 5;
                    -moz-column-count: 5;
                    column-count: 5;
                  {% endif %}"
                >

                  {% for _image in piece._images %}
                    <div class="images-container">
                      <div class="radius
                        {% if piece.imagesShadow%}
                          z-depth-1
                        {% endif %}

                      ">
                        <div class="card">

                          <div class="card-image">

                            <img
                              srcset="{{ apos.images.srcset(_image.attachment) }}"
                              sizes="(min-width:1200px)20vw, 40vw"
                              data-featherlight="{{ apos.attachments.url(_image.attachment, { size: data.options.size or 'full' }) }}"
                              alt="{{ _image.description or _image.title }}"
                              width="100%"
                            >

                            {% if piece.imagesTitleShow == true and piece.columnCount <= '3' %}
                              <span class="card-title
                                {% if piece.imagesTitleCenter %}
                                 center-align
                                {% endif %}"
                              >
                                <h4 class="accent-color truncate"
                                  {%- if piece.imagesTitleColor -%}
                                    style="color:{{ piece.imagesTitleColor}}"
                                  {% endif %}
                                >
                                  {{ _image.title }}
                                </h4>
                              </span>
                            {% endif %}

                          </div>

                          {% if _image.description and piece.columnCount <= '3' %}
                            <div class="card-content">
                              <p class="flow-text"
                                {% if image.descriptionColor %}
                                  style="color:{{ _image.descriptionColor }}"
                                {% endif %}
                              >
                                {{ _image.description }}
                              </p>
                            </div>
                          {% endif %}

                          {% if _image.credit and piece.columnCount <= '3' %}
                            <div class="card-action center-align flow-text">
                              {% if _image.creditUrl %}
                                  <a class="btn-flat" href="{{ _image.creditUrl }}">
                              {% endif %}
                                    <p>{{ _image.credit }}</p>
                              {% if _image.creditUrl %}
                                  </a>
                              {% endif %}
                            </div>
                          {% endif %}

                        </div>
                      </div>
                    </div>
                  {% endfor %}

                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>

  {% if data.currentPage < data.totalPages %}
    <div class="pagination">
      <a class="btn next"  href="{{ data.url | build({ page: data.currentPage + 1, append: 1 }) }}">Load More...</a>
    </div>
  {% endif %}

</div>
