{% extends "layout.html" %}

{# Imports #}
{% import 'apostrophe-favicons:faviconMacros.html' as favicons %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{# Seo and Open Graph fields #}
{% if data.page.seoTitle %}
  {% set title = data.page.seoTitle %}
{% else %}
  {% set title = data.page.title %}
{% endif %}

{# Page Title depends on variables above #}
{% block title %}{{ title }}{% endblock %}

{# Additional header elements #}
{% block extraHead %}

  {# Includes #}
  {% include "apostrophe-assets:styles.html" %}
  {% include "apostrophe-seo:view.html" %}
  {% include "apostrophe-open-graph:view.html" %}

  {# Favicons #}
  {{ favicons.renderLinks(apos, data.global) }}

  {# Palette #}
  {{ palette.stylesheetLink(data.global) }}
  {{ palette.stylesheetTag() }}
{% endblock %}

{# Insert Palette #}
{% block beforeMain %}
  {% if data.user %}
    {{ palette.palette(data.global, 'palette') }}
  {% endif %}
{% endblock %}

{# Main Block #}
{% block main %}

  {# Navigation #}
  {% include "nav-widgets:nav-default.html" %}

  {# Main Content #}
  <div class="main-content">

    <div class="pages-container">

      {% if data.piece.container == true %}
        <div class="container">
      {% endif %}

          <div class="row">
            <div class="col s12 m12">

              {% if data.piece.card == true and data.piece.container == true %}
                <div class="radius
                  {% if data.page.shadow %}
                    z-depth-1
                  {% endif %}
                ">
                  <div class="card">
                    <div class="card-content no-padding-mobile">
              {% endif %}

                      <div class="row">
                        <div class="col s12 m12">

                          <div class="gallery">

                            <div class="title">
                              <h3 class="accent-color" style="
                                {% if data.piece.titleColor %}
                                  color:{{ data.piece.titleColor }};
                                {% endif %}
                                {% if data.piece.titleCenter %}
                                  text-align: center;
                                {% endif %}
                              ">
                                {{ data.piece.title }}
                              </h3>
                            </div>

                            <div class="images" style="
                              {% if data.piece.columnCount == '5' %}
                                -webkit-column-count: 5;
                                -moz-column-count: 5;
                                column-count: 5;
                              {% elif data.piece.columnCount == '4' %}
                                -webkit-column-count: 4;
                                -moz-column-count: 4;
                                column-count: 4;
                              {% elif data.piece.columnCount == '3' %}
                                -webkit-column-count: 3;
                                -moz-column-count: 3;
                                column-count: 3;
                              {% else %}
                                -webkit-column-count: 5;
                                -moz-column-count: 5;
                                column-count: 5;
                              {% endif %}"
                            >

                              {% for _image in data.piece._images %}
                                <div class="images-container">
                                  <div class="radius
                                    {% if data.page.shadow %}
                                      z-depth-2
                                    {% endif %}
                                  ">
                                    <div class="card">

                                      <div class="card-image">

                                        <img
                                          srcset="{{ apos.images.srcset(_image.attachment) }}"
                                          sizes="(min-width:1200px)20vw, 40vw"
                                          data-featherlight="{{ apos.attachments.url(_image.attachment, { size: data.options.size or 'full' }) }}"
                                          alt="{{ _image.description or _image.title }}"
                                          width="100%"
                                        >

                                        {% if data.piece.imagesTitleShow == true and data.piece.columnCount == '3' %}
                                          <span class="card-title
                                            {% if data.piece.imagesTitleCenter %}
                                             center-align
                                            {% endif %}"
                                          >
                                            <h4 class="accent-color truncate"
                                              {%- if data.piece.imagesTitleColor -%}
                                                style="color:{{ data.piece.imagesTitleColor}}"
                                              {% endif %}
                                            >
                                              {{ _image.title }}
                                            </h4>
                                          </span>
                                        {% endif %}

                                      </div>

                                      {% if _image.description and data.piece.columnCount == '3' %}
                                        <div class="card-content">
                                          <p class="flow-text"
                                            {% if image.descriptionColor %}
                                              style="color:{{ _image.descriptionColor }}"
                                            {% endif %}
                                          >
                                            {{ _image.description }}
                                          </p>
                                        </div>
                                      {% endif %}

                                      {% if _image.credit and data.piece.columnCount == '3' %}
                                        <div class="card-action center-align flow-text">
                                          {% if _image.creditUrl %}
                                              <a class="btn-flat" href="{{ _image.creditUrl }}">
                                          {% endif %}
                                                <p>{{ _image.credit }}</p>
                                          {% if _image.creditUrl %}
                                              </a>
                                          {% endif %}
                                        </div>
                                      {% endif %}

                                    </div>
                                  </div>
                                </div>
                              {% endfor %}

                            </div>

                          </div>

                        </div>
                      </div>

              {% if data.piece.card == true and data.piece.container == true %}
                    </div>
                  </div>
                </div>
              {% endif %}

            </div>
          </div>

      {% if data.piece.container == true %}
        </div>
      {% endif %}

    </div>

    {# Contact Button #}
    {% if data.page.buttonOn == true %}
      {% include "btn-widgets:widget.html" %}
    {% endif %}

    {# Footer #}
    <div class="bottom-content">
      {% include "footer-widgets:widget.html" %}
    </div>

  </div>

{% endblock %}
