<div class="row widget">
  <div class="col s12 m12">
    <div class="radius
      {% if data.page.shadow %}
        z-depth-1
      {% endif %}
    ">

      <div class="card">
        <div class="card-stacked">
          <div class="card-content">
            {% if data.widget.title %}
              <h4 class="accent-color card-title"
                {% if data.widget.titleColor %}
                  style="color:{{ data.widget.titleColor }}"
                {% endif %}
              >
                {{ data.widget.title }}
              </h4>
            {% endif %}
          </div>
          <div class="card-content carousel carousel-slider"
            {% if piece.backColor%}
               style="background-color:{{ piece.backColor }}"
            {% endif %}
          >

            {% for piece in data.widget._pieces %}
              <div class="carousel-item z-depth-0"
                  {% if piece.backColor%}
                     style="background-color:{{ piece.backColor }}"
                  {% endif %}
                >

                  {% if piece.description.items[0] %}
                    {{ apos.area(piece, 'description', {
                      edit: false,
                      widgets: { 'apostrophe-rich-text': { } }
                    }) }}
                  {% endif %}
                </div>

            {% endfor %}

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<style>
  {% if data.widget.carouselHeight == 'medium' %}
    .card-content.carousel .carousel-item .apos-area .apos-area-widget-wrapper .apos-area-widget .apos-rich-text {
      display: table-cell;
      vertical-align: middle
    }
  {% endif %}
  {% if data.widget.carouselHeight == 'small' %}
    .card-content.carousel {
      height: 15rem;
      -webkit-perspective: 	20rem;
      -moz-perspective: 	20rem;;
      -ms-perspective: 	20rem;
      perspective: 20rem;
    }
    .card-content.carousel .carousel-item {
      top: 50% !important;
    }
  {% endif %}
  {% if data.widget.carouselHeight == 'big' %}
    .card-content.carousel {
      height: 35rem;
      -webkit-perspective: 	40rem;
      -moz-perspective: 	40rem;
      -ms-perspective: 	40rem;
      perspective: 40rem;
    }
  {% endif %}
</style>
