<div class="row widget">
  <div class="col s12 m12">
    <div class="radius
      {% if data.page.shadow %}
        z-depth-1
      {% endif %}
    ">

      <div class="card z-depth-0"
          {% if piece.backColor%}
            style="background-color:{{ piece.backColor }}"
          {% endif %}
        >

        <div class="card-stacked">
          <div class="card-content"
              {% if piece.backColor%}
                style="background-color:{{ piece.backColor }}"
              {% endif %}
            >

            {% if data.widget.title %}
              <h4 class="accent-color card-title"
                  {% if data.widget.titleColor %}
                    style="color:{{ data.widget.titleColor }}"
                  {% endif %}
                >
                {{ data.widget.title }}
              </h4>
            {% endif %}

            <table class="highlight responsive-table">

              <thead>
                <tr>
                  {% for text in data.widget.tableHeaders %}
                    <th class="flow-text">{{ text.text }}</th>
                  {% endfor %}
                </tr>
              </thead>

              <tbody>

                {% for piece in data.widget._pieces %}
                  <tr>

                    {% if piece.titleAsObject == true %}
                      <th class="flow-text">
                        {% if piece._url %}
                          <a href="{{ piece._url }}" class="btn-flat flow-text"
                              {% if piece.titleColor %}
                                style="color:{{ piece.titleColor }}"
                              {% endif %}
                            >
                        {% endif %}
                          {{ piece.title }}
                        {% if piece._url %}
                          </a>
                        {% endif %}
                      </th>
                    {% endif %}

                    {% for text in piece.tableRowObjects %}

                      {% if text.text %}
                        <th class="flow-text">{{ text.text }}</th>
                      {% endif %}

                      {% if text.date %}
                        <th class="flow-text">{{ text.date }}</th>
                      {% endif %}

                      {% if text._image %}
                        <th class="table-image">
                          <img
                            src="{{ apos.attachments.url(text._image.attachment, { size: data.options.size or 'one-sixth' }) }}"
                            data-featherlight="{{ apos.attachments.url( text._image.attachment, { size: data.options.size or 'one-third' }) }}"
                            alt="{{ text._image.description or text._image.title }}"
                          >
                        </th>
                      {% endif %}

                    {% endfor %}

                  </tr>
                {% endfor %}

              </tbody>

            </table>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
